[submodule "mini_chromium"]
	path = mini_chromium
	url = https://github.com/chromium/mini_chromium.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/lss"]
	path = third_party/lss
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "crashpad"]
	path = crashpad
	url = https://github.com/TheAssemblyArmada/crashpad.git
